<h1>Listing travels</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Date</th>
    <% unless @single_user_travels %>
      <th>Mule</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @travels.each do |travel| %>
  <tr>
    <td><%= travel.from_country.name %></td>
    <td><%= travel.to_country.name %></td>
    <td><%= travel.date %></td>
    <% unless @single_user_travels %>
      <td><%= link_to travel.traveler.name, user_path(travel.traveler) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />