
<% if @current_user.nil? %>

  <div id="home-page-pic">
  	<%= image_tag('home_page_pic.png') %>
  </div>

  <div id="home-page-text">
    <a href="#signupModal" role ="button" data-toggle="modal" data-target="#signupModal">
      <div class="span1 well sign-up-well">
        <strong>Sign up!</strong>
      </div>
    </a>

    <div id="signupModal" class="modal hide fade" tabindex="-1" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="signupModalLabel">Sign Up Options</h3>
        </div>

        <div class="row modal-body">
          <div class="span1"></div>
          <a href="/users/new">
          <div class="span2">
            Create a New Nomadics Account
          </div></a>
          <div class="span1">or</div>
          <div class="span2">
            Login with Facebook
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>

    </div>

    <div class="span6 well greeting-well">
      <strong>Nomadics:</strong> The worlds best international shipping service!
    </div>

  </div>


	<%= button_to "Sign up!", new_user_path, :method => :get %>

<% else %>
<div class="span4">
  <h3>Friend's Travels</h3>

  <div class="well travels-ticker">
    <%= render 'travels/ticker' %>
  </div>
</div>

<div class="span5">
  <h3>Friend's Requests</h3>

  <div class="well requests-ticker">
    <%= render 'requests/ticker' %>
  </div>
</div>


<% end %>