<h1><%= "Your friends" %></h1>

<% @friends.each do |friend| %>
	<div class="well">
		<div class="row">
  		<div class="span1">

  			<% if friend.photo_blob %>
					<%= image_tag photo_user_url(friend) %>
				<% else %>
					<%= image_tag('default_profile_pic.jpg') %>
				<% end %>

  		</div>
  		<div class="span2">
  			<%= link_to "#{friend.name}", user_path(friend) %>
			</div>
 	  </div>
	</div>
<% end %>