/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import 'bootstrap-styles';
 @import 'bootstrap';

//  header, footer, .media, table {
//   margin: 10px;
// }

.main {
	margin: 20px;
}


.controls select {
	width: inherit;
}

form {
		margin: 10px 0 0 0;
}

.inline-form-btn {
	margin-top: 25px;

}

h2, h3 {
  font-family: Arial;
}


.link-btn {
  margin-top: 10px;
}

#not-yet-traveled {
  color: green;
}

#not-yet-shipped {
  color: green;
}

#no-mule-found {
  color: red;
}

#home-page-pic {
  margin: auto;
}

.sign-up-well, .greeting-well {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 255, 1);

  font-style: bold;
}

.sign-up-well {
  font-size: 13px;
  left: 20px;
  top: 100px;
}

.greeting-well {
  font-size: 20px;
  left: 200px;
  top: 340px;
}


.friend-travel, .friend-mule-request {
  background-color: #eee;
  padding: 5px;
  margin: 10px;
  margin-left: 0px;
  cursor: pointer;

  &:hover{
    background-color: rgba(102, 153, 255, 0.25);
  }
}

.user-page-travels, .user-page-requests {
  max-height: 250px;
  margin-left: 20px;
  cursor: pointer;
}

.div-header {
  font-size: 25px;
  font-style: bold;
  margin-top: 5px;
}

.travels-ticker, .requests-ticker {
  max-height: 250px;
  margin-left: 20px;
}

.scroller-header {
  margin-left: 30px;
}

#notice {
  color: green;
}







